:host {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
}

.paginated-list__content {
    flex: 1;
    min-height: 0;
    overflow-y: auto;
}

.paginated-list__paginator {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    --mat-paginator-container-text-size: 1rem;
    --mat-paginator-select-trigger-text-size: 1rem;
}
