@use '@angular/material' as mat;

.search-input {
    display: block;
    width: 100%;
    max-width: 16rem;

    @include mat.form-field-overrides(
        (
            container-height: 2.5rem,
            container-vertical-padding: 0.5rem,
            outlined-container-shape: 0.75rem,
        )
    );
}
